.navbar-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.content {
    padding: 20px;
    border: 1px solid #ddd; /* 區塊的邊框 */
}
.container-right{
    overflow: auto; /* 如果內容超出高度，則添加滾動條 */
    height: 100vh; /* 延伸到整個螢幕高度 */
    width: auto;
    position: relative;
    padding-top: 70px; /* 確保內容距離頂部至少 30px */
    padding-left: 0 ;
    padding-right: 0;
}
.divider {
    border-left: 1px solid #ddd; /* 垂直分隔線 */
    height: auto; /* 自適應高度 */
}
.chat-link {
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 2px solid #dddddd;
    color: #000;
    text-decoration: none;
}
.chat-link:hover {
    background-color: #e2e6ea; /* 滑鼠懸停效果 */
}
.chat-room-title{
    border-bottom: 2px solid #dddddd;
}
.form-control {
    border-radius: 0 !important;
}

.navbar-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.add-friend-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
}
.add-friend-btn:hover {
    color: #007bff; /* 滑鼠懸停效果 */
}
.container-right hr {
    position: absolute;
    top: 70px; /* 距離頂部 30px */
    width: 100%;
    border: 1px solid #ddd; /* 設定分隔線的顏色與樣式 */
    margin: 0; /* 移除預設的 margin */
}
.container-right .chat-title {
    position: absolute;
    top: 18px;
    left: 6px;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
}